@import "bootstrap/grid-setup";

/* Color variables */
$color-primary: #F68F1F;
$color-primary-dark: #DB5F26;
$color-secondary: #6BC6B8;
$color-red: #D0021B;
$color-dark: #1C1B1A;
$color-brown: #978B7D;
$color-brown-light: #F1EEE9;
$color-subtle: #F5F3EF;
$color-subtle-line: #FBFAF8;

/* Font variables */
$font-base: 'Roboto';
$font-secondary: 'Brandon Grotesque';

@font-face {
    font-family: "Brandon Grotesque";
    src: url("/fonts/Brandon_reg.woff");
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url("/fonts/Brandon_reg.woff");
    font-weight: 300;
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url("/fonts/Brandon_med.woff");
    font-weight: 500;
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url("/fonts/Brandon_bld.woff");
    font-weight: 800;
}

/* Typography */
h1 {
  font-family: $font-secondary;
  font-size: 48px;
  font-weight: 500;
  color: $color-dark;
  margin-bottom: 60px;
}

h1.large {
  color: $color-primary;
  font-size: 72px;
}

h2 {
  font-family: $font-secondary;
  color: $color-dark;
  font-size: 36px;
  font-weight: 500;
}

h3 {
  font-family: $font-secondary;
  color: $color-dark;
  font-size: 22px;
  font-weight: 500;
  margin: 12px 0;
}

h4.upper {
  color: $color-brown;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}

p,
.p,
ul,
ol {
  font-family: $font-base;
  color: $color-brown;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  max-width: 800px;

  strong,
  .strong,
  &.strong {
    font-weight: 500;
  }

  &:not(:last-of-type) {
    padding-bottom: 20px;
  }
}

p.lead {
  font-family: $font-base;
  color: $color-dark;
  font-size: 20px;
  line-height: 35px;
  font-weight: 300;
  margin-bottom: 40px;
}

span.attention {
  color: $color-red;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 800;
}

span.preorder {
  color: white;
  background-color: $color-dark;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 500;
  border-radius: 2px;
  padding: 2px 7px;
  opacity: 0.3;
}

/* Tables */
.table,
%table {
  display: table;
  width: 100%;
}
.table .table-row,
%table-row {
  display: table-row;
}

.table .table-cell,
%table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Lists */
.list {
  padding: 0;
}
.list.list-left {
  display: inline-block;
}
.list.list-left li {
  list-style-type: none;
  float: left;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

/* Links */
a {
  color: $color-primary;
}

.arrow,
a.upper {
  display: block;
  color: $color-primary;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}

.arrow:after {
   font-family: FontAwesome;
   content: "\f178";
   margin-left: 10px;
}

.arrow:hover {
  color: $color-primary + 30;
}

.btn,
.btn--secondary {
  display: inline-block;
  font-family: $font-secondary !important;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px !important;
  font-weight: 600 !important;
  border-radius: 50px !important;
  padding: 10px 20px;
  transition: 0.3s all;
}

.btn,
.btn.btn-primary {
  background-color: $color-primary !important;
  color: white;
  box-shadow: 0px 10px 20px 0px rgba(110,72,31,0.13);
  cursor: pointer;

  &:hover {
    background-color: $color-primary + 10;
    box-shadow: 0px 7px 15px 0px rgba(110,72,31,0.08);
  }
}

.btn-secondary,
.btn--secondary {
  background-color: $color-brown !important;

  &:hover {
    background-color: $color-brown + 10;
  }
}



/* Utilities */
.padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-bottom {
  padding-bottom: 70px;
}

.alignr {
  text-align: right;
}

.alignc {
  text-align: center;
}

.c-primary {
  color: $color-primary;
}

/* Html, body */
html,
body {
  padding: 0;
  margin: 0;
}

/* Background image */
.background {
  height: 50vw;
  background-image: url('/images/Hadissaspace.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #ccc;
}
/* Hide modal when Vue isn't loaded yet */
[v-cloak] {
  display: none;
}

/* custom css - hocnv  */

.hero .headline {
  margin-top: 9vw;
}

.padding_bottom_img {
  margin-bottom: 40px;
}
.varier {
  min-height: 245px!important;
}
.fix_height {
  min-height: 82px!important;
}

.desktop h4 {
  color: white;
  margin-top: 35px;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 600;
  margin-bottom: 20px;
}

.desktop .email_coupon {
  background-color: #1C1B1A;
  width: 370px;
  margin: 0 auto;
  border-radius: 5px;
}

.desktop .txtemail {
  border: none;
  height: 37px;
  width: 266px;
  padding-left: 5px;
  font-size: small;
  -webkit-appearance:none;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.desktop .sign_up {
  background-color: #1C1B1A;
  border: none;
  color: white;
  height: 36px;
  width: 100px;
  cursor: pointer;
  -webkit-appearance:none;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.address {
  color: #F68F1F!important;
}

.line2 {
  margin-top: 0!important;
  margin-left: 35px;
}

.fix-show-desktop {
  margin-left: 25%;
}

.title_404 {
  color:#F68F1F;
   text-align: center;
}

.let_start {
  text-align: center;
  font-family: Roboto;
}

.wrapper_404_img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.img_404 {
  width: 50%;
}
.fix-cart-icon {
  padding-bottom: 23px;
}
.error {
  color: red;
}
.hide_lbl {
  display: none!important;
}
.fix-cart-icon li a{
  font-size: 20px!important;
}
/* custom text size for mobile  */
@media (max-width: 1024px) {
  .hero .headline {
    margin-top: 26vw!important;
  }
  .desktop .sign_up {
    width:97px!important;
    height: 36px!important;
  }
  .desktop .email_coupon {
    width: 367px!important;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 35px!important;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 25px!important;
  }
  h3 {
    font-size: 20px!important;
  }
  .order-card-text {
    padding: 10px!important;
  }
  .desktop h4 {
    font-size: 16px!important;
  }

  .desktop .txtemail {
    height: 36px;
  }

  .desktop .sign_up {
    height: 32px;
  }
  .fix-cart-icon {
    padding-bottom: 0px!important;
  }
}

@media (max-width: 991px) {
  .varier {
    min-height: 110px!important;
  }

  .fix-show-desktop {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }

  .mobile p {
    color: #978B7D;
    margin-top: 20px;
    font-size: 14px;
    font-family: Roboto;
  }

  .mobile .email_coupon {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .mobile .txtemail {
    border: 1px rgba(151, 139, 125, 0.37) solid ;
    height: 33.5px;
    width: 200px;
    padding-left: 5px;
    font-size: small;
    border-right: none;
    -webkit-appearance:none;
    border-radius: 0;
    padding-bottom: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .mobile .sign_up {
    background-color: #1C1B1A;
    border: none;
    color: white;
    height: 34px;
    width: 80px;
    cursor: pointer;
    margin-left: -4px;
    -webkit-appearance:none;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .hero .play {
    margin-top:15vw!important;
  }
  .fix-cart-icon {
    padding-bottom: 0px!important;
  }
  .mobile .sign_up {
    width: 100px;
  }
}

@media (max-width: 320px) {
  .varier {
    min-height: 150px!important;
  }
  .mobile p {
    font-size: 13px;
  }
  .mobile .txtemail {
    width: 170px;
  }
  .mobile .sign_up {
    width: 100px;
  }
}
