.blog {
  padding-top: 90px;
  padding-bottom: 120px;
}

.blogpost {
  border: 1px solid $color-subtle;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 40px;
}

.blogpost img {
  width: 100%;
}

.blogpost-inner {
  padding: 35px;
}

.blogpost-inner-title a {
  text-decoration: none;
  color: $color-dark;
}

.blogpost-inner p,
.blogpost-inner h1,
.blogpost-inner h2,
.blogpost-inner h3 {
  font-family: $font-base;
  font-size: 14px;
  line-height: 27px;
  color: $color-brown;
  font-weight: 300;
}

h3.blogpost-inner-title {
  font-family: $font-secondary;
  color: $color-dark;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
  margin: 12px 0;
}

.wrapper-sitemap {
  width: 90%;
  margin: 20px auto;
}

.col-sitemap-left {
  float: left;
  width: 15%;
}

.col-sitemap-left a,
.col-sitemap-right a {
  text-decoration: none;
  font-family: "Roboto";
  color: #978B7D;
  width: 100%;
  display: inline-block;
  padding: 10px 0;
}

.col-sitemap-right {
  float: left;
  width: 20%;
  margin-bottom: 100px;
}

@media (max-width: 1024px) {
  .col-sitemap-left {
    width: 25%;
  }

  .col-sitemap-right {
    width: 45%;
  }
}

@media (max-width: 568px) {
  .col-sitemap-left {
    width: 100%;
  }

  .col-sitemap-right {
    width: 100%;
  }
}