<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include ga.html %}
    
    <div id="vue-modal">
      <div class="video-modal" v-if="modal" v-cloak>
        <div class="video-modal-background" v-on:click="closeModal"></div>
        <div class="video-modal-table table">
          <div class="table-row">
            <div class="table-cell">
              <div class="video-modal-wrapper">
                <div class="video-modal-inner">
                  <iframe :src.sync="iframeSrc" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="background">
      {% include header.html %}
      <div class="hero container">
        <h1 class="headline">Finally a beautiful standing desk.</h1>
        <div class="play">
          <a href="#" class="play-video" data-video="https://www.youtube.com/embed/Gpt_nDcZYhc?rel=0&amp;autoplay=1&amp;showinfo=0"><img src="{{ site.baseurl }}/images/play.svg" alt=""></a>
        </div>
        <a href="/store/" class="cta">Order now</a>
        <div class="coupon desktop">
          <h4>We’ll send you tips, sporadically.  </h4>
          <form class="email_coupon">
            <input name="email" class="txtemail" placeholder="Email" type="text" />
            <input class="sign_up" value="Sign Up" type="button">
          </form>
        </div>
      </div>
    </div>

    <div class="mobile-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="headline">Finally a beautiful standing desk.</h1>
          </div>
          <div class="col-xs-12">
            <a href="/store/" class="cta btn ">Order now</a>
            <div class="coupon mobile">
              <p>We’ll send you tips, sporadically. </p>
              <form class="email_coupon">
                <input name="email" class="txtemail" placeholder="Email" type="text" />
                <input class="sign_up" value="Sign Up" type="button">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ content }}
    {% include footer.html %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">
            <p class="content_msg"></p>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
